<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.ArticleDao">
    <resultMap id="ArticleResultMap" type="Article">
        <id property="artId" column="article_id"></id>
        <result property="artName" column="article_name"></result>
        <result property="guruId" column="guru_id"></result>
        <result property="artDescrip" column="article_description"></result>
        <result property="artDate" column="article_date"></result>
    </resultMap>

    <insert id="insertArticle">
        insert into t_article values(#{artId},#{artName},#{guruId},#{artDescrip},sysdate())
    </insert>
    
    <!--<select id="selectArticleByPage" resultMap="ArticleResultMap">
        select * from t_article limit #{begin},#{pageSize}
    </select>
    
    <select id="selectArticleById" resultMap="ArticleResultMap">
        select * from t_article where article_id=#{artId}
    </select>
    
    <update id="updateArticle">
        update t_article set article_name=#{artName},article_description=#{artDescrip},guru_id=#{guruId} where article_id=#{artId}
    </update>

    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from t_article
    </select>-->
</mapper>
